html {
    width: 100%;
    height: 100%;
    margin: 0px;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0px;
    background: white;
    display: grid;
    grid-template-rows: 80px 640px 500px;
    grid-template-columns: 50% 50%;
    grid-template-areas: "top top""left right""bottom bottom";
}

#top_panel {
    width: 100%;
    height: 100%;
    background: lightblue;
    grid-area: top;
    box-shadow: 0 0 10px #888888;
    /* margin-bottom: 20px; */
}

#top_panel select {
    border-radius: 10px;
}

.text {
    text-align: center;
    font: Khand-Regular;
    font-size: 16px;
    padding-top: 0.5rem;
}

.tooltip {
    position: absolute;
    text-align: center;
    /* display: inline-flex; */
    background-color: rgba(250, 250, 250, 1);
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    font-size: 0.8rem;
    color: black;
    z-index: 3;
    visibility: hidden;
    opacity: 0.9;
}

.hidden {
    /*fill-opacity: 0.3;*/
}

.active {
    /*opacity: 1;*/
}